/*configuraciones generales de la pagina*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*configuracion del cuerpo*/
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh; /*para que use el 100% de la pantalla que no ocupan el header ni el footer*/
}

/*posicion relativa para poder acomodar etiquetas de posicion absoluta*/
.contenido {
    position: relative; 
    width: 90%;
}

/*estructura del main*/
main {
    flex: 1;
    display: flex;
    justify-content: center; 
    align-items: center;
}

/*configuraciones generales de header y footer*/
header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
    color: white;

}

/*tamanno del logo de la pagina*/
header img, footer img {
    width: 75px;
    height: 75px;
}

/*configuracion de los botones para navegar por la pagina*/
header a, footer a {
    color: white;
    text-decoration: none;
}


/*se le agrega una sombra al header para decorar*/
header {
    background-color: white;
    box-shadow: 0 3px 7px #66CC99; 

}

/*se asgina el color de los enlaces por a parte del footer ya que estas son solo para el hedaer*/
header a {
    color: #66CC99;
}

/*con esto se acomoda el logo con el nombre de la empresa*/
header h1 {
    display: flex;
    align-items: center;
}

/*se comoda el menu en el header*/
header nav {
    width: 65%;
    display: flex;
    flex-direction: column;
    text-align: end;
}

header nav ul, footer nav ul {
    list-style: none;
    padding: 0em;
    margin-bottom: 1em;
}

header nav ul li {
    display: inline;
    margin-right: 10px; 
    
}

header a:hover, footer a:hover {
    color: #fff;
    background-color: #66CC99;
}


/*se configura el carrusel para estar en el centro de la pantalla*/
.carrusel {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    max-width: 100%; 
    align-items: center; 

}

/*cada imagen del carrusel va a ocuparun 75% del .carrusel para evitar que se vea muy grande y perder calidad*/
.item-carrusel {
    width: 75%; 
    padding: 10px;
    text-align: center; 
}

/*las imagenes se definen a un tamaño predefinido para evitar que estas cambien de tamaño mientras se mueve el carrusel*/
.item-carrusel img {
    width: 30em; 
    height: 30em;
    object-fit: cover;
}

/*titulo de cada imagen*/
.item-carrusel p {
    background-color: #66CC99; 
    color: white;
}

/*se agreag un cuadro con posicion abosluta para dar una breve introduccion a la pgina*/
/*se realiza de esta forma con el fin de dar estilo a la pagina*/
.descripcion-inicio {
    position: absolute;
    bottom: 0; 
    left: 0; 
    background-color: #66CC99; 
    padding: 20px;
    color: white;
}

/* INICIO DE SESION */

/*configuracion de los formularios vista en clase*/
.formulario {
    width: 400px;
    margin: 0 auto;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0, 0, 0.1);
    padding: 20px;
    margin-top: 3em;
    margin-bottom: 3em;
}

.formulario input[ type="password" ],
.formulario input[ type="text" ],
.formulario input[ type="date" ],
.formulario select,
.formulario input[ type="email" ] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #7e7e7e;
    border-radius: 4px;
    box-sizing: border-box;
}

.formulario input[ type="submit" ] {
    background-color: #66CC99;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formulario input[ type="submit" ]:hover {
    background-color: rgb(0, 178, 178);
}


/*las siguientes configuraciones es para darle estilo a las paginas que son de solo texto*/
.cuadros {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cuadro {
    width: 50%;
}

.servicios {
    display: flex;
    flex-direction: column;
}

.cuadros {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cuadro {
    width: 50%;
}

.servicios h1 {
    text-align: center;
}

.informacion-contacto {
    display: flex;
    justify-content: center;
    padding-top: 3em;
}

.informacion-contacto div {
    padding-right: 3em;
}


/* UTILIDADES */

/*se utiliza para objetos que tienen que permcer ocultos hasta que el usuario los selecciones*/
.oculto {
    display: none;
}

/*estilo de la pagina agendar citas*/
.agendar-citas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/*configuracion del menu de ctias*/
.menu-citas {
    display: flex;
    flex-direction: column;
}

.menu-citas button {
    background-color: #66CC99;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.menu-citas button:hover {
    background-color: rgb(0, 178, 178);
}

.menu-citas button {
    margin-top: 1.5em;
}

#citas-modal {
    position: absolute;
    bottom: 0; 
    left: 0; 
    background-color: #66CC99; 
    padding: 20px;
    color: white;
}

#citas-modal button {
    background-color: #66CC99;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#citas div {
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    width: 15em;
    height: 3em;
    cursor: pointer;
    text-align: center;
}

.tabla {
    display: flex;
    flex-direction: column;
}

.preguntas-frecuentes .item {
    background-color: #66CC99;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1em;
}
