*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh; 
}

.contenido {
    position: relative; 
    width: 90%;
}

main {
    flex: 1;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
    color: white;

}

header img, footer img {
    width: 75px;
    height: 75px;
}

header a, footer a {
    color: white;
    text-decoration: none;
}

header {
    background-color: white;
    box-shadow: 0 3px 7px #66CC99; 

}

header a {
    color: #66CC99;
}

header h1 {
    display: flex;
    align-items: center;
}

header nav {
    width: 65%;
    display: flex;
    flex-direction: column;
    text-align: end;
}

header nav:first-child {
    align-content: end;
}



header nav ul {
    list-style: none;
    padding: 0;
    margin-bottom: 1em;
}

header nav ul li {
    display: inline;
    margin-right: 10px; /* Espacio entre elementos de navegación */
}

header nav ul li:last-child {
    margin-right: 0; /* Eliminar margen derecho del último elemento */
}

header a:hover {
    color: #fff;
    background-color: #66CC99;
}

.carrusel {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    max-width: 100%; 
    align-items: center; 

}

.item-carrusel {
    width: 75%; 
    padding: 10px;
    box-sizing: border-box; 
    text-align: center; 
}

.item-carrusel img {
    width: 30em; 
    height: 30em;
    object-fit: cover;
}

.item-carrusel p {
    background-color: #66CC99; 
    color: white;
}

.descripcion-inicio {
    position: absolute;
    bottom: 0; 
    left: 0; 
    background-color: #66CC99; 
    padding: 20px;
    color: white;
    width: 100%;
    box-sizing: border-box; 
}

/* INICIO DE SESION */

.formulario {
    width: 400px;
    margin: 0 auto;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0, 0, 0.1);
    padding: 20px;
    margin-top: 3em;
    margin-bottom: 3em;
}

.formulario input[ type="password" ],
.formulario input[ type="text" ],
.formulario input[ type="email" ] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #7e7e7e;
    border-radius: 4px;
    box-sizing: border-box;
}

.formulario input[ type="submit" ] {
    background-color: #66CC99;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formulario input[ type="submit" ]:hover {
    background-color: rgb(0, 178, 178);
}

.cuadros {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cuadro {
    width: 50%;
}

.servicios {
    display: flex;
    flex-direction: column;
}

.cuadros {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cuadro {
    width: 50%;
}

.servicios h1 {
    text-align: center;
}

.informacion-contacto {
    display: flex;
    justify-content: center;
    padding-top: 3em;
}

.informacion-contacto div {
    padding-right: 3em;
}


/* UTILIDADES */

.oculto {
    display: none;
}